u-boot/
oem/boot-assets/bl1-*.bin
oem/boot-assets/u-boot.bin
oem/boot-assets/uboot.env
*.snap
*.tar.xz
linux/
*.img
device/assets/
device/preinstalled.tar.gz
device/preinstalled/
device/ramdisk/
device/system/
device/initrd/
